# Untracked files:

.DS_Store
target
classes
database
*.bak
*.log
.classpath
.project
.settings
.idea
.mymetadata
*.class
*.iml
*.iws
*.ipr
bin
etc
logs
activemq-data
tomcat
lib
libs
dependencies
lib-2.6.7
war/yellowpages
*.doc
*.docx